<div Origin="Origin.TopRight" Color="Color.Primary"
          Overlap=true  Bordered=false
          Style="width:100%;">
    <MudTextField @bind-Value="@Value" Label="@Label"
                  Variant="Variant.Outlined" Adornment="Adornment.End"
                  AdornmentIcon="@Icon"
                  AdornmentColor="Color.Primary" AutoFocus="true"
                  Placeholder="@Placeholder" Lines="3"
                  Disabled=@Disabled IconSize="Size.Large"
                  HelperText="@HelperText" Immediate="true"
                  OnKeyUp="@OnKeyUpAsync" Clearable="true"
                  Counter="1_000" MaxLength="1_000"
                  autocomplete="off" title="@HelperText" />
</div>